

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Multi-page template</title>
	<style type = text/CSS>
	.ui-grid-solo {
	padding-top:.200em;
    font-size: 18px;
    line-height: 80px;
    font-weight: bold;
	}
	
	.ui-grid-c[data-role=fieldcontain] {
    font-size: 14px;
    line-height: 60px;
    font-weight: ;
	}
	.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
	}
	</style>
	
	<style>
    .ui-content { margin: 0.5em auto; max-width: 1300px; width: 100%; font: 18px/1.5 sans-serif; }
    .ui-content { background: #f2f2f2; padding: 3px 5px; }
	</style>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>

<body>

<!-- Start of HOME PAGE: #welcome -->

<div data-role="page" id="welcome">

	<div data-role="header">
		<h1>Pet tracker</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
		<h2>Where is my Charlie?</h2>

		<br>
		
        <p>Welcome to the application!</p>

		<h3>Please choose one of the following actions:</h3>
		
		<p><a href="#map" class="ui-btn ui-shadow ui-corner-all">Set safe point</a></p>
		
		<p><a href="#map" class="ui-btn ui-shadow ui-corner-all">View live location</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
	
</div><!-- /page welcome -->

<!-- END OF HOME PAGE: #welcome -->




<!-- Start of SECOND PAGE: #map -->

<div data-role="page" id="map" data-theme="a">

	<div data-role="header">
		<h1>MAP</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
		<h2>MAP</h2>
		
		<div id="fence">
		
			<div class="ui-grid-c" data-type="horizontal">
				
				<div class="ui-block-a"><button id="fenceMarker" >Choose safe location</button></div>
				
				<div class="ui-block-b"><button id="removeFenceMarker">Remove safe location</button></div>
				
				<div class="ui-block-c"></div>
				
				<div class="ui-block-d"><button id="sendSafeLocation">Set safe location</button></div>
				
			</div>		
		
		</div>
		
		<div id=locationLL> </div>
		
		<script>
		//load marker initially
		
		$.post( "/location" )
			.done(function( data ) {
				var string = data;
				var result = string.split(";");
					
				var latitude = result[1];
				var longitude = result[3];
					
				addMarker(latitude, longitude);
					
				console.log(result[1]);
				console.log(result[3]);
			});
			
		</script>
		
	<!--	//update marker every 5 sec
		<script>
		
		window.setInterval('getMarker()', 5000); 	// Call a function every 5000 milliseconds (OR 5 seconds).
		
		function getMarker() {
			//updating the marker at loading
			$.post( "/location" )
				.done(function( data ) {
					var string = data;
					var result = string.split(";");
					
					var latitude = result[1];
					var longitude = result[3];
					
					addMarker(latitude, longitude);
					
					console.log(result[1]);
					console.log(result[3]);
					//$("#locationLL").html('latitude is: '+ latitude +' --- longitude is: ' + longitude);
				
				}); 	
		}
		</script> -->

		<div id="trackingMap" style="width:100%;height:600px;"></div>

		<script type="text/javascript">
			
			$('#removeFenceMarker').hide();
			
			var map, center, radius, lat, lng;
			
			//initialize the map
			function dogMap() {
				
                // center in South Dublin
				var dublinSouth = new google.maps.LatLng( 53.1002,-6.2106 );
				
				//initial properties
				var mapProperties= {
				  center: dublinSouth,
				  zoom: 10,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				
				// actual map with initial properties
				map = new google.maps.Map(document.getElementById("trackingMap"),mapProperties);
				
			
				var myDrawingManager = new google.maps.drawing.DrawingManager(); 
				
				
				google.maps.event.addListener(myDrawingManager, 'circlecomplete', function(circle) {
					
					//make circle area uneditable to get correct radius
					myCircle = circle;
					myCircle.setOptions({ editable: false });
					
					//make circle uneditable
					//myDrawingManager.setDrawingMode(null);
					
					//remove drawing controls
					myDrawingManager.setMap(null);
					
					//getting central coordinates for safe area, an object
					center = circle.getCenter();
					console.log(center);
					
					//lat = center.lat();
					//console.log(lat);
					
					//lng = center.lng();
					//console.log(lng);
					
					// getting radius of the safe zone
					radius = circle.getRadius();
					console.log(radius);
				});
					
			
				//HTML5 geolocation
				navigator.geolocation.getCurrentPosition(function(position) {		
					var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
					console.log(pos);
				});
				
			
			
				$('#fenceMarker').click(function() {
				
					$('#fenceMarker').hide();
					$('#removeFenceMarker').show();

					myDrawingManager.setOptions({
					
						drawingControlOptions: {
							position: google.maps.ControlPosition.TOP_CENTER,
							drawingModes: ['circle']
						},
						
						drawingControl: true,
						
						circleOptions: {
						  fillColor: '#00b300',
						  fillOpacity: 0.3,
						  strokeWeight: 2,
						  clickable: false,
						  editable: true,
						  zIndex: 1,
						  //label: {
							//text:'Safe',
							//fontSize: "15px",
							//fontWeight: "bold"
							//}
						}
					});
					
					myDrawingManager.setMap(map); 
					
				});
			
				$('#removeFenceMarker').click(function() {
				
					$('#fenceMarker').show();
					$('#removeFenceMarker').hide();
					
					myDrawingManager.setDrawingMode(null);
					myDrawingManager.setMap(null);
					myCircle.setMap(null);
				});
			
				$('#sendSafeLocation').click(function() {
					
					lat = center.lat();
					console.log(lat);
					
					lng = center.lng();
					console.log(lng);
					
					$.post( "/geofence", { lat:lat, lng:lng}).done(function( data ) {
						alert( "Data Loaded: " + data );
					});
				});
			
			}
			
			
			function addMarker(latitude, longitude) {
			
                var position = new google.maps.LatLng(latitude, longitude);
						
				var bounds = new google.maps.LatLngBounds();
						
				//initial properties
				var mapProperties= {
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
						
				//map = new google.maps.Map(document.getElementById("trackingMap"), mapProperties);
				//https://developers.google.com/maps/documentation/javascript/markers
                var dogMarker = new google.maps.Marker({
                    position: position,
                    map: map,
					label: {
						text:'Woof!',
						fontSize: "15px",
						fontWeight: "bold"
					}
                });
						
                bounds.extend(dogMarker.getPosition());
				map.fitBounds(bounds);
						
				map.setZoom(14);
						
				/*	// Zoom to 9 when clicking on dog marker
				google.maps.event.addListener(dogMarker,'click',function() {
					var position = map.getZoom();
					map.setZoom(15);
					map.setCenter(dogMarker.getPosition());
					window.setTimeout(function() {
					map.setZoom(position);}, 5000);
				}); */  
            }
			
			
				// check if Geolocation is supported
			if (navigator.geolocation) {
			  console.log('Geolocation is supported!');
			}
			else {
			  console.log('Geolocation is not supported for this Browser/OS.');
			}
		

		

		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=drawing,geometry&callback=dogMap" async defer></script>
		
		<p><a href="#welcome" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to page "one"</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
	
</div><!-- /page map -->

<!-- END OF SECOND PAGE: #map -->







</body>


</html>
