

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Multi-page template</title>
	<style type = text/CSS>
	.ui-grid-solo {
	padding-top:.200em;
    font-size: 18px;
    line-height: 80px;
    font-weight: bold;
	}
	
	.ui-grid-c[data-role=fieldcontain] {
    font-size: 14px;
    line-height: 60px;
    font-weight: ;
	}
	.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
	}
	
	.ui-grid-d .ui-btn {
		text-align: center;
		white-space: normal;
	}
		
	</style>
	
	<style>
    .ui-content { margin: 0.5em auto; max-width: 1300px; width: 100%; font: 18px/1.5 sans-serif; }
    .ui-content { background: #f2f2f2; padding: 3px 5px; }
	</style>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>

<body>

<!-- Start of HOME PAGE: #welcome -->

<div data-role="page" id="welcome">

	<div data-role="header">
		<h1>Pet tracker</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
		<h2>Where is my Charlie?</h2>
		
        <p>Welcome to the application!</p>
		

		<h3>Please choose one of the following actions:</h3>
		
		<p><a href="#map" class="ui-btn ui-shadow ui-corner-all">Set safe point</a></p>
		
		<p><a href="#map" class="ui-btn ui-shadow ui-corner-all">View live location</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
	
</div><!-- /page welcome -->

<!-- END OF HOME PAGE: #welcome -->




<!-- Start of SECOND PAGE: #map -->

<div data-role="page" id="map" data-theme="a">

	<div data-role="header">
		<h2>MAP</h2>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		
		<div id="fence_exists" style="text-align: center"> </div>
		
		<div id="fence">
		
			<div class="ui-grid-d" data-type="horizontal">
				
				<div class="ui-block-a"><a href="#" class="ui-btn"id="fenceMarker">Choose safe location</a></div>
				
				<div class="ui-block-b"><a href="#" class="ui-btn" id="editFenceMarker">Edit safe location</a></div>
				
				<div class="ui-block-c"><a href="#" class="ui-btn" id="removeFence">Remove geofence</a></div>
				
				<div class="ui-block-d"><a href="#" class="ui-btn" id="sendSafeLocation">Set geofence</a></div>
				
			</div>		
		
		</div>
		
		<div id=locationLL> </div>
		
		<script>
		//load marker initially
		
		$.post( "/location" )
			.done(function( data ) {
				
				var string = data;
				var result = string.split(";");
					
				var latitude = result[1];
				var longitude = result[3];
				var datetime = result[5];
					
				addMarker(latitude, longitude, datetime);
					
				console.log(result[1]);
				console.log(result[3]);
				console.log(result[5]);
			});
			
		</script>
		
		<script>
		//load fence if set initially
		
		$.post( "/fence" )
			.done(function( data ) {
				
				if ( data == 1) {
			
					//do nothing
					$('#fenceMarker').show();
					$('#editFenceMarker').hide();
					$('#removeFence').hide();
					$('#sendSafeLocation').hide();
					
				} else {
					
					$('#fenceMarker').hide();
					$('#editFenceMarker').hide();
					$('#removeFence').show();
					$('#sendSafeLocation').hide();
				
					var string2 = data;
					var result2 = string2.split(";");
						
					var lat = parseFloat(result2[1]);
					var lng = parseFloat(result2[3]);
					var radius = parseFloat(result2[5]);
						
					addExistingFence(lat, lng, radius);
						
					console.log(result2[1]);
					console.log(result2[3]);
					console.log(result2[5]);
					
					$("#fence_exists").html("******* Geo fence is active ******	 Lat: " + lat + "; Lng: " + lng + "; Radius: " + radius).css('font-weight', 'bold');
				} 
			});
			
		</script>
		
	<!--	//update marker every 5 sec
		<script>
		
		window.setInterval('getMarker()', 5000); 	// Call a function every 5000 milliseconds (OR 5 seconds).
		
		function getMarker() {
			//updating the marker at loading
			$.post( "/location" )
				.done(function( data ) {
					var string = data;
					var result = string.split(";");
					
					var latitude = result[1];
					var longitude = result[3];
					
					addMarker(latitude, longitude, datetime);
					
					console.log(result[1]);
					console.log(result[3]);
					//$("#locationLL").html('latitude is: '+ latitude +' --- longitude is: ' + longitude);
				
				}); 	
		}
		</script> -->

		<div id="trackingMap" style="width:100%;height:600px;"></div>

		<script type="text/javascript">
			
			var map, center, radius, lat, lng, myCircle;
			
			//initialize the map
			function dogMap() {
				
                // center in South Dublin
				var dublinSouth = new google.maps.LatLng( 53.1002,-6.2106 );
				
				//initial properties
				var mapProperties= {
				  center: dublinSouth,
				  zoom: 10,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				
				// actual map with initial properties
				map = new google.maps.Map(document.getElementById("trackingMap"),mapProperties);
				
				$('#editFenceMarker').hide();
			
				var myDrawingManager = new google.maps.drawing.DrawingManager(); 
				
				
				google.maps.event.addListener(myDrawingManager, 'circlecomplete', function(circle) {
					
					//make circle area uneditable to get correct radius
					myCircle = circle;
					myCircle.setOptions({ editable: false });
					
					//remove drawing controls
					myDrawingManager.setMap(null);
					
					//getting central coordinates for safe area, an object
					center = myCircle.getCenter();
					//console.log(center);
					
					// getting radius of the safe zone
					//radius = circle.getRadius();
					//console.log(radius);
				});
					
			
				//HTML5 geolocation
				navigator.geolocation.getCurrentPosition(function(position) {		
					var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
					console.log(pos);
				});
				
			
			
				$('#fenceMarker').click(function() {
				
					$('#fenceMarker').hide();
					$('#editFenceMarker').show();
					$('#sendSafeLocation').show();

					myDrawingManager.setOptions({
					
						drawingControlOptions: {
							position: google.maps.ControlPosition.TOP_CENTER,
							drawingModes: ['circle']
						},
						
						drawingControl: true,
						
						circleOptions: {
						  fillColor: '#00b300',
						  fillOpacity: 0.3,
						  strokeWeight: 2,
						  clickable: false,
						  editable: true,
						  zIndex: 1,
						  //label: {
							//text:'Safe',
							//fontSize: "15px",
							//fontWeight: "bold"
							//}
						}
					});
					
					myDrawingManager.setMap(map); 
					
				});
			
				$('#editFenceMarker').click(function() {
				
					$('#fenceMarker').show();
					$('#editFenceMarker').hide();
					
					myDrawingManager.setDrawingMode(null);
					myDrawingManager.setMap(null);
					myCircle.setMap(null);
				});

				$('#removeFence').click(function() {
					
					$.post( "/deleteFence")
						.done(function( data ) {
							//alert( data ); //not needed due 
					});
					
					//remove a circle from a map -->refresh page
					window.location.reload();
					
					
				});
				
				$('#sendSafeLocation').click(function() {
					
					if ( !myCircle ) {
					
						alert('Geo fence is not set. Choose safe location first.');
						
					} else {
					
						lat = center.lat();
						console.log(lat);
						
						lng = center.lng();
						console.log(lng);
						
						//here mysql has some issues, had to play with precision.
						radius = myCircle.getRadius();
						console.log("radius is "+radius);
						
						$.post( "/geofence", { lat: lat, lng: lng, radius: radius})
							.done(function( data ) {
								//alert( data ); //not needed due to refresh
						});
					}
					
					//show geo fence details -->refresh page
					window.location.reload();
				});
				
			
			}
			
			
			function addMarker(latitude, longitude, datetime) {
			
                var position = new google.maps.LatLng(latitude, longitude);
						
				var bounds = new google.maps.LatLngBounds();
						
				//initial properties
				var mapProperties= {
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
						
				//map = new google.maps.Map(document.getElementById("trackingMap"), mapProperties);
				//https://developers.google.com/maps/documentation/javascript/markers
                var dogMarker = new google.maps.Marker({
                    position: position,
                    map: map,
					label: {
						text:'Woof!',
						fontSize: "15px",
						fontWeight: "bold"
					}
                });
						
                bounds.extend(dogMarker.getPosition());
				map.fitBounds(bounds);
						
				map.setZoom(14);
						
				/*	// Zoom to 9 when clicking on dog marker
				google.maps.event.addListener(dogMarker,'click',function() {
					var position = map.getZoom();
					map.setZoom(15);
					map.setCenter(dogMarker.getPosition());
					window.setTimeout(function() {
					map.setZoom(position);}, 5000);
				}); */  
				
				var content = "<p>" + "I have been here @ " + "<br />"  + "<br />" + "<strong>" + datetime + "<strong/>"+ "</p>";
				
				var infoWindow = new google.maps.InfoWindow({
					content: content
				});
				
				dogMarker.addListener('click', function() {
					infoWindow.open(map, dogMarker);
				 });
            }
			
			
			function addExistingFence(latitude, longitude, radius) {
				
				// Add circle overlay and bind to marker
				var fence = new google.maps.Circle({
					center: new google.maps.LatLng(latitude, longitude),
				  map: map,
				  radius: radius, 
				  fillColor: '#00b300',
					strokeOpacity: 0.3,
					strokeWeight: 2
				});
				
				//map.fitBounds(fence.getBounds());
            }
			
			
		/*		// check if Geolocation is supported
			if (navigator.geolocation) {
			  console.log('Geolocation is supported!');
			}
			else {
			  console.log('Geolocation is not supported for this Browser/OS.');
			} */
		

		

		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhAK61UUYI-RNA8IX7QjH8bxTdZ6nONB8&libraries=drawing,geometry&callback=dogMap" async defer></script>
		
		<p><a href="#welcome" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to page "one"</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
	
</div><!-- /page map -->

<!-- END OF SECOND PAGE: #map -->







</body>


</html>
